.card-header {
    cursor: pointer;
}

#appInfo-serviceFormContainer {
    white-space: pre-wrap;
    overflow: auto;
    height: 400px;
}

#yearSelect {
    width: 240px;
}

#yearSelectLabel {
    width: 220px;
}

.applications_header_tr {
    cursor: pointer;
}