body {
    padding: 0 20px;
}

#doc-header {
    padding-bottom: 20px;
}

#navID, #userNav, #imageBar, #footerID {
    display: none;
}

h1 {
    font-size: 22px;
}

h2 {
    padding-top: 15px;
    font-size: 20px;
}

h3 {
    padding-top: 10px;
    font-size: 18px;
}

h4 {
    font-size: 17px;
    text-decoration: underline;
}

#partners-container,
.workitem-total-container {
    margin-left: 20px;
}

.materialsItem-container {
    margin-left: 20px;
    margin-bottom: 15px;
}

.workitem-container,
.partner-container {
    margin-bottom: 15px;
}