table.info-table {
    width: 500px;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 2px;
}

.form-group {
    margin: 2px 0px;
}

.clickable {
    cursor: pointer;
}

.project-partner-row {
    background-color: lightcyan;
}