<div class="form-group">
  <label for="yearSelect" class="col-sm-2 col-form-label">Show By Application Year</label>
  <select class="form-control" style="width: 240px;" id="yearSelect"></select>
</div>

<div class="card">
  <div class="card-header" value="never_contacted">Never Contacted</div>
  <div class="card-body" id="never_contacted_cardbody">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="never_contacted_container"></tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" value="to_be_contacted">To Be Contacted</div>
  <div class="card-body" id="to_be_contacted_cardbody">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="to_be_contacted_container"></tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" value="assigned_caller">Assigned Caller</div>
  <div class="card-body" id="assigned_caller_cardbody">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="assigned_caller_container"></tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" value="help_requested">Help Requested</div>
  <div class="card-body" id="help_requested_cardbody">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="help_requested_container"></tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" value="contact_complete">Contact Complete</div>
  <div class="card-body" id="contact_complete_cardbody">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="contact_complete_container"></tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" value="completed">Completed</div>
  <div class="card-body" id="completed_cardbody">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="completed_container"></tbody>
    </table>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" 
  data-target="#serviceModal" data-whatever="@mdo">Open</button>

{{> care_serviceform_modal}}

<script type="text/javascript" src="/javascript/care/library/card_tabler.js"></script>
<script type="text/javascript" src="/javascript/care/library/modalform_library.js"></script>
<script type="text/javascript" src="/javascript/care/applications_page.js"></script>
<link rel="stylesheet" href="/stylesheets/care/applications.css">