<div class="form-group">
  <label for="yearSelect" class="col-sm-2 col-form-label">Show By Application Year</label>
  <select class="form-control" style="width: 240px;" id="yearSelect"></select>
</div>

<div class="card">
  <div class="card-header" value="never_contacted">Never Contacted</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="never_contacted_container"></tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" value="to_be_contacted">To Be Contacted</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="to_be_contacted_container"></tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" value="assigned_caller">Assigned Caller</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="assigned_caller_container"></tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" value="help_requested">Help Requested</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="help_requested_container"></tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" value="contact_complete">Contact Complete</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="contact_complete_container"></tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" value="completed">Completed</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Application Date</th>
          <th scope="col">Last Edit Date</th>
          <th scope="col">Reference #</th>
          <th scope="col"># Services</th>
          <th scope="col">Service Options</th>
        </tr>
      </thead>
      <tbody class="apps_container" id="completed_container"></tbody>
    </table>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" 
  data-target="#serviceModal" data-whatever="@mdo">Open</button>

<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="service-form">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-xs-12 col-md-6" id="appInfo-serviceFormContainer"></div>
          <div class="col-xs-12 col-md-6">
            <input type="text" class="form-control" name="applicant_id" id="service-app-id-input" hidden>
            <div class="form-group">
              <label for="volunteer-input" class="col-form-label">Volunteer</label>
              <input type="text" class="form-control" name="volunteer" 
                id="volunteer-input" required>
            </div>
          
            <div class="form-group">
              <label for="description-input" class="col-form-label">Description</label>
              <input type="text" class="form-control" name="description" 
                id="description-input" required>
            </div>
            <div class="form-group">
              <label for="service-date" class="col-form-label">Service Date</label>
              <input type="datetime-local" class="form-control" name="service_date" 
                id="service-date" required>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
        
      </form>
      
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascript/care/applications_page.js"></script>
<link rel="stylesheet" href="/stylesheets/care/applications.css">