
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<div id="pdf_container"></div>

<script>
    const type = "{{type}}";
    const assessment_id = "{{assessment_id}}";
    const project_id = "{{project_id}}";
</script>

<!-- JsPDF not working. HTML -> PDF conversion creates fonts too large -->
{{!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.0/jspdf.umd.min.js"></script> --}}

<link rel="stylesheet" href="/stylesheets/app_project/handleit_form.css">
<script text="text/javascript" src="/javascripts/app_project/pdf/handleit_form.js"></script>