
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<div id="pdf_container"></div>

<script>
    const project_id = "{{project_id}}";
</script>

<script text="text/javascript" src="/javascripts/app_project/pdf/paf_form.js"></script>