<div id="project_transfer_container"></div>

<script type="application/javascript">
    var assessment_id = "{{assessment_id}}";
</script>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

<script src="/javascripts/app_project/project_transfer/project_transfer.js"></script> 