<script type="application/javascript">
    var app_id = "{{app_id}}";
</script>

<div id="site_assessment_container"></div>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

<!-- Use JSX Preprocessor for production.
    This is used as a quick way to get JSX formatting, but it's very slow for browsers 
    Also, remove after processing -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<link rel="stylesheet" href="/stylesheets/app_project/project_project.css">


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<script src="/javascripts/app_project/funkie.js"></script>
<script type="module" src="/javascripts/app_project/site_assessment.js"></script>
