<div id="project_container"></div>

<script>
    var project_id = "{{project_id}}";
</script>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

<!-- Use JSX Preprocessor for production.
    This is used as a quick way to get JSX formatting, but it's very slow for browsers 
    Also, remove type="text/babel" after processing -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<link rel="stylesheet" href="/stylesheets/app_project/view_site_assessment.css">

<script type="text/babel" src="/javascripts/app_project/view_project.js"></script>